
<% @posts.each do |post| %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= post.title %></h3>
        <small>posted by : <%= post.user.email %></small>
      </div>
      <div class="panel-body" style="overflow: auto;  max-height: 500;">
        <%# post.body %> <br />
        <%= image_tag post.meme.url %>
      </div>
      <div class="panel-footer">
        <%# link_to "comments", class: 'inline' %>
        <%= link_to('vote for this post!', vote_up_post_path(post), :method => :post) %>
        <%# link_to "vote down" %>
        <%= social_share_button_tag(post.title) %>
	   <%= link_to "comments", post  %>
      </div>
    </div>

<% end %>

