<!DOCTYPE html>
<html>
<head>
  <title>Wekekek</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<%= render "layouts/messages" %>
<%= render "layouts/navigation" %>

<div class="container">
  <div class="row">
    <div class="col-md-8">
<<<<<<< HEAD

      <div class="jumbotron">
        <h2>Selamat Datang di Ngakak.com</h2>
        <p>Selamat menikmati beragam lelucon disini</p>
      </div>

      <div class="jumbotron">
        <%= yield %>
      </div>

    </div>

    <div class="col-md-4" role="main">
      <div class="jumbotron">
        <h1>Ads</h1>
      </div>
      <div class="jumbotron">
        <h1>Ads</h1>
      </div>
      <!--<div class="jumbotron">-->
        <!--ngakak.com created by @omenks.-->
      <!--</div>-->

      <p class="bg-info" style="padding: 15px;">
        <%= link_to "about", "#" %>
        <%= link_to "contact", "#" %>
        NGakak © 2014

      </p>



    </div>
    </div>
=======
      <div class="jumbotron">
        <h2>Selamat Datang di Ngakak.com</h2>
        <p>Selamat menikmati beragam lelucon disini</p>

      </div>
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <!--<h1>Navbar example</h1>-->
        <!--<p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>-->
        <!--<p>To see the difference between static and fixed top navbars, just scroll.</p>-->
        <!--<p>-->
        <!--<a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>-->
        <!--</p>-->

        <%= yield %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="jumbotron">
        <h1>ads</h1>

      </div>
      <div class="jumbotron">
        <h1>ads</h1>

      </div>
      <div class="jumbotron">
        <h1>ads</h1>

      </div>
      <div class="jumbotron">
        <h1>ads</h1>

      </div>
    </div>
  </div>
>>>>>>> master



</div> <!-- /container -->

<!--<div class="footer">-->
  <!--<div class="container">-->
    <!--<p class="text-muted">ngakak.com created by @omenks.</p>-->
  <!--</div>-->
<!--</div>-->


</body>
</body>
</html>
