<!DOCTYPE html>
<html>
<head>
  <title>Wekekek</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<%= render "layouts/messages" %>
<%= render "layouts/navigation" %>

<div class="container">
  <div class="row">
    <div class="col-md-8">


      <div class="jumbotron lightblue">
        <h2>Selamat Datang di Ngakak.com</h2>
        <p>Selamat menikmati beragam lelucon disini</p>
      </div>

      <div class="jumbotron lightblue">
        <%= yield %>
      </div>

    </div>

    <div class="col-md-4" role="main">
      <div class="jumbotron lightblue">
        <h1>Ads</h1>
      </div>
      <div class="jumbotron lightblue">
        <h1>Ads</h1>
      </div>
      <!--<div class="jumbotron">-->
        <!--ngakak.com created by @omenks.-->
      <!--</div>-->

      <p style="padding: 15px; background-color: lightblue">
        <%= link_to "about", "#" %>
        <%= link_to "contact", "#" %>
        NGakak © 2014

      </p>

    </div>
    </div>

</div> <!-- /container -->

<!--<div class="footer">-->
  <!--<div class="container">-->
    <!--<p class="text-muted">ngakak.com created by @omenks.</p>-->
  <!--</div>-->
<!--</div>-->


</body>
</body>
</html>
